<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lblog.dao.AdminGroupDao">
    <select id="getAdminGroupId" parameterType="java.lang.String" resultType="java.lang.Long">
        SELECT
            id
        FROM
            l_admin_group
        WHERE
            name = #{name}
    </select>

    <insert id="addAdminGroup" parameterType="com.lblog.domain.AdminGroup" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            l_admin_group (
                name,
                description,
                status,
                sort_order,
                view_power,
                edit_power,
                add_time,
                edit_time
            ) VALUES (
                #{name},
                #{description},
                #{status},
                #{sortOrder},
                #{viewPower},
                #{editPower},
                #{addTime},
                #{editTime}
            )
    </insert>

    <update id="editAdminGroup" parameterType="com.lblog.domain.AdminGroup">
        UPDATE
            l_admin_group
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="status != null and status != 0">
                status = #{status},
            </if>
            <if test="sortOrder != null">
                sort_order = #{sortOrder},
            </if>
            <if test="status != null">
                view_power = #{viewPower},
            </if>
            <if test="status != null">
                edit_power = #{editPower},
            </if>
            edit_time = #{editTime}
        </set>
        WHERE
            id = #{id}
    </update>

    <delete id="deleteAdminGroup">
        DELETE FROM
            l_admin_group
        WHERE
            id IN
        <foreach collection="id" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <select id="getAdminGroupList" resultType="com.lblog.domain.AdminGroup">
        SELECT
            *
        FROM
            l_admin_group
        <where>
            <if test="adminGroup.name != null and adminGroup.name != ''">
                AND name LIKE CONCAT('%', #{adminGroup.name}, '%')
            </if>
            <if test="adminGroup.status != null and adminGroup.status != 0">
                AND status = #{adminGroup.status}
            </if>
        </where>
        ORDER BY
            sort_order DESC, id DESC
        LIMIT
            #{startNum}, #{size}
    </select>

    <select id="getAdminGroupDetail" parameterType="java.lang.Long" resultType="com.lblog.domain.AdminGroup">
        SELECT
            *
        FROM
            l_admin_group
        WHERE
            id = #{id}
    </select>

    <select id="getAdminGroupTotal" parameterType="com.lblog.domain.AdminGroup" resultType="java.lang.Integer">
        SELECT
            COUNT(id)
        FROM
            l_admin_group
        <where>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="status != null and status != 0">
                AND status = #{status}
            </if>
        </where>
    </select>
</mapper>