<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lblog.dao.ArticleCategoryDao">
    <select id="getArticleCategoryId" parameterType="java.lang.String" resultType="java.lang.Long">
        SELECT
            id
        FROM
            l_article_category
        WHERE
            name = #{name}
    </select>

    <insert id="addArticleCategory" parameterType="com.lblog.domain.ArticleCategory" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            l_article_category (
            name,
            description,
            status,
            sort_order,
            add_time,
            edit_time
        ) VALUES (
            #{name},
            #{description},
            #{status},
            #{sortOrder},
            #{addTime},
            #{editTime}
        )
    </insert>

    <update id="editArticleCategory" parameterType="com.lblog.domain.ArticleCategory">
        UPDATE
            l_article_category
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="description != null and name != ''">
                description = #{description},
            </if>
            <if test="status != null and status != 0">
                status = #{status},
            </if>
            <if test="sortOrder != null">
                sort_order = #{sortOrder},
            </if>
            edit_time = #{editTime}
        </set>
        WHERE
            id = #{id}
    </update>

    <delete id="deleteArticleCategory" parameterType="java.lang.Long">
        DELETE FROM
            l_article_category
        WHERE
            id IN
        <foreach collection="id" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <select id="getArticleCategoryList" resultType="com.lblog.domain.ArticleCategory">
        SELECT
            *
        FROM
            l_article_category
        <where>
            <if test="articleCategory.name != null and articleCategory.name != ''">
                AND name LIKE CONCAT('%', #{articleCategory.name}, '%')
            </if>
            <if test="articleCategory.status != null and articleCategory.status != 0">
                AND status = #{articleCategory.status}
            </if>
        </where>
        ORDER BY
            sort_order DESC, id DESC
        LIMIT
            #{startNum}, #{size}
    </select>

    <select id="getArticleCategoryDetail" parameterType="java.lang.Long" resultType="com.lblog.domain.ArticleCategory">
        SELECT
            *
        FROM
            l_article_category
        WHERE
            id = #{id}
    </select>

    <select id="getArticleCategoryTotal" parameterType="com.lblog.domain.ArticleCategory" resultType="java.lang.Integer">
        SELECT
            COUNT(id)
        FROM
            l_article_category
        <where>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="status != null and status != 0">
                AND status = #{status}
            </if>
        </where>
    </select>
</mapper>