<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lblog.dao.ArticleDao">
    <select id="getArticleId" parameterType="java.lang.String" resultType="java.lang.Long">
        SELECT
            id
        FROM
            l_article
        WHERE
            title = #{title}
    </select>

    <insert id="addArticle" parameterType="com.lblog.domain.Article" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            l_article (
                category_id,
                title,
                content,
                read_count,
                status,
                sort_order,
                add_time,
                edit_time
            ) VALUES (
                #{categoryId},
                #{title},
                #{content},
                #{readCount},
                #{status},
                #{sortOrder},
                #{addTime},
                #{editTime}
            )
    </insert>

    <update id="editArticle" parameterType="com.lblog.domain.Article">
        UPDATE
            l_article
        <set>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="readCount != null">
                read_count = #{readCount},
            </if>
            <if test="status != null and status != 0">
                status = #{status},
            </if>
            <if test="sortOrder != null">
                sort_order = #{sortOrder},
            </if>
            edit_time = #{editTime}
        </set>
        WHERE
            id = #{id}
    </update>

    <delete id="deleteArticle" parameterType="java.lang.Long">
        DELETE FROM
            l_article
        WHERE
            id = #{id}
    </delete>

    <select id="getArticleList" resultType="com.lblog.dto.ArticleDto">
        SELECT
            la.*,
            lac.name AS categoryName
        FROM
            l_article la
        LEFT JOIN
            l_article_category lac ON la.category_id = lac.id
        <where>
            <if test="article.title != null and article.title != ''">
                AND la.title LIKE CONCAT('%', #{article.title}, '%')
            </if>
            <if test="article.status != null and article.status != 0">
                AND la.status = #{article.status}
            </if>
            <if test="article.categoryId != null and article.categoryId != 0">
                AND lac.category_id = #{article.categoryId}
            </if>
        </where>
        ORDER BY
            la.sort_order DESC, la.id DESC
        LIMIT
            #{startNum}, #{size}
    </select>

    <select id="getArticleDetail" parameterType="java.lang.Long" resultType="com.lblog.domain.Article">
        SELECT
            *
        FROM
            l_article
        WHERE
            id = #{id}
    </select>

    <select id="getArticleDetailDto" parameterType="java.lang.Long" resultType="com.lblog.dto.ArticleDto">
        SELECT
            la.*
            lac.categoryName
        FROM
            l_article la
        LEFT JOIN
            l_article_category lac ON la.category_id = lac.id
        WHERE
            la.id = #{id}
    </select>

    <select id="getArticleTotal" parameterType="com.lblog.domain.Article" resultType="java.lang.Integer">
        SELECT
            COUNT(id)
        FROM
            l_article
        <where>
            <if test="title != null and title != ''">
                AND title LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="status != null and status != 0">
                AND status = #{status}
            </if>
        </where>
    </select>

    <update id="editArticleReadCount">
        UPDATE
            l_article
        <set>
            <if test="readCount != null">
                read_count = #{readCount}
            </if>
        </set>
        WHERE
            id = #{id}
    </update>
</mapper>