<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lblog.dao.UserDao">
    <select id="getUserId" parameterType="java.lang.String" resultType="java.lang.Long">
        SELECT
            id
        FROM
            l_user
        WHERE
            name = #{name}
    </select>

    <insert id="addUser" parameterType="com.lblog.domain.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            l_user (
                name,
                password,
                status,
                register_type,
                register_ip,
                add_time
            ) VALUES (
                #{name},
                #{password},
                #{status},
                #{registerType},
                #{registerIp},
                #{addTime}
            )
    </insert>
    
    <update id="editUser" parameterType="com.lblog.domain.User">
        UPDATE
            l_user
        <set>
            <if test="status != null and status != 0">
                status = #{status},
            </if>
            edit_time = #{editTime}
        </set>
        WHERE
            id = #{id}
    </update>

    <delete id="deleteUser">
        DELETE FROM
            l_user
        WHERE
            id IN
        <foreach collection="id" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <select id="getUserList" resultType="com.lblog.dto.UserDto">
        SELECT
            lu.*,
            visit_ip AS visitIp,
            visit_time AS visitTime
        FROM
            l_user lu
        LEFT JOIN
            ( SELECT
                user_id, visit_ip, visit_time, ROW_NUMBER() OVER (PARTITION BY user_id ORDER BY visit_time DESC) AS rn
            FROM
                l_user_visit_record) luvr ON lu.id = luvr.user_id AND luvr.rn = 1
        <where>
            <if test="user.name != null and user.name != ''">
                AND lu.name LIKE CONCAT('%', #{user.name}, '%')
            </if>
            <if test="user.status != null and user.status != 0">
                AND lu.status = #{user.status}
            </if>
        </where>
        ORDER BY
            lu.id DESC
        LIMIT
            #{startNum}, #{size}
    </select>

    <select id="getUserDetail" parameterType="java.lang.Long" resultType="com.lblog.domain.User">
        SELECT
            *
        FROM
            l_user
        WHERE
            id = #{id}
    </select>

    <select id="getUserDetailDto" parameterType="java.lang.Long" resultType="com.lblog.dto.UserDto">
        SELECT
            lu.*,
            visit_ip AS visitIp,
            visit_time AS visitTime
        FROM
            l_user lu
        LEFT JOIN
            ( SELECT
                user_id, visit_ip, visit_time, ROW_NUMBER() OVER (PARTITION BY user_id ORDER BY visit_time DESC) AS rn
            FROM
                l_user_visit_record) luvr ON lu.id = luvr.user_id AND luvr.rn = 1
        WHERE
            lu.id = #{id}
    </select>
    
    <select id="getUserTotal" parameterType="com.lblog.domain.User" resultType="java.lang.Integer">
        SELECT
            COUNT(id)
        FROM
            l_user
        <where>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="status != null and status != 0">
                AND status = #{status}
            </if>
            <if test="addTime != null and addTime != 0">
                AND add_time >= #{addTime}
            </if>
        </where>
    </select>
</mapper>