<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lblog.dao.UserDao">
    <select id="getUserId" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT
            id
        FROM
            l_user
        WHERE
            name = #{name}
    </select>

    <insert id="addUser" parameterType="java.lang.String" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            l_user (name)
        VALUES
            #{name}
    </insert>
</mapper>