<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lblog.dao.UserRefreshTokenDao">
    <insert id="addUserRefreshToken" parameterType="com.lblog.domain.UserRefreshToken" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            l_user_refresh_token (
                user_id,
                refresh_token,
                add_time
            ) VALUES (
                #{userId},
                #{refreshToken},
                #{addTime}
            )
    </insert>

    <update id="deleteUserRefreshToken" parameterType="com.lblog.domain.UserRefreshToken">
        UPDATE
            l_user_refresh_token
        <set>
            is_revoked = 1
            edit_time = #{editTime}
        </set>
        WHERE
            user_id = #{userId} AND refresh_token = #{refreshToken}
    </update>
    
    <select id="getUserRefreshTokenId" parameterType="com.lblog.domain.UserRefreshToken" resultType="java.lang.Long">
        SELECT
            id
        FROM
            l_user_refresh_token
        WHERE
            user_id = #{userId} AND refresh_token = #{refreshToken} AND is_revoked = 1
    </select>
</mapper>