<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lblog.dao.UserDao">
    <select id="getUserRsaKey" parameterType="java.lang.Long" resultType="com.lblog.domain.UserRsaKey">
        SELECT
            *
        FROM
            l_user_rsa_key
        WHERE
            name = #{name}
    </select>
</mapper>