<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lblog.dao.UserDao">
    <select id="getUserId" parameterType="java.lang.String" resultType="java.lang.Long">
        SELECT
            id
        FROM
            l_user
        WHERE
            name = #{name}
    </select>

    <insert id="addUser" parameterType="com.lblog.domain.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            l_user (
                name,
                password,
                salt,
                status,
                register_type,
                register_ip,
                add_time
            ) VALUES (
                #{name},
                #{password},
                #{salt},
                #{status},
                #{registerType},
                #{registerIp},
                #{addTime}
            )
    </insert>
    
    <update id="editUser" parameterType="com.lblog.domain.User">
        UPDATE
            l_user
        <set>
            <if test="status != null and status != 0">
                status = #{status}
            </if>
            edit_time = #{editTime}
        </set>
        WHERE
            id = #{id}
    </update>

    <select id="getUserList" resultType="com.lblog.domain.User">
        SELECT
            *
        FROM
            l_user
        <where>
            <if test="user.name != null and user.name != ''">
                AND name LIKE CONCAT('%', #{user.name}, '%')
            </if>
            <if test="user.status != null and user.status != 0">
                AND status = #{user.status}
            </if>
        </where>
        ORDER BY
            id DESC
        LIMIT
            #{startNum}, #{size}
    </select>

    <select id="getUserDetail" parameterType="java.lang.Long" resultType="com.lblog.domain.User">
        SELECT
            *
        FROM
            l_user
        WHERE
            id = #{id}
    </select>
    
    <select id="getUserTotal" parameterType="com.lblog.domain.User" resultType="java.lang.Integer">
        SELECT
            COUNT(id)
        FROM
            l_user
        <where>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="status != null and status != 0">
                AND status = #{status}
            </if>
        </where>
    </select>
</mapper>